<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <div>Email: </div>
            <div><input type="email" id = "email" placeholder="email을 입력하시오."></div>
        </div>

        <div>
            <div>Password: </div>
            <div><input type="password" id = "password" placeholder="password을 입력하시오."></div>
        </div>

        <div>
            <div>
                <input type="button" value="signup" id="signupBtn">
            </div>

            <div>
                <input type="button" value="login" id="loginBtn">
            </div>
        </div>

    </div>
</body>
</html>