<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="/public/login.css">
    <script 
    src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
    crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="layout_col">

        <h1>Signup</h1>
        
        <div class="layout_row">
            
            <div>Name: </div>
            <div>
                <input type="text" id="name" placeholder="name을 입력하시오.">
            </div>
        </div>

        <div class="layout_row">
            
            <div>Email: </div>
            <div>
                <input type="email" id="email" placeholder="email을 입력하시오.">
            </div>
        </div>

        <div class="layout_row">
            
            <div>Password: </div>
            <div>
                <input type="password" id="password" placeholder="password를 입력하시오.">
            </div>
        </div>

        <div>
            <input type="button" value="signup" id="signupBtn">
        </div>
    </div>
    <script type="text/javascript" src="/scripts/signup.js"></script>
</body>
</html>